<div class="container">
  <div class="row">

    <div class="col-md-6">
    <%= image_tag "tic.jpg", class: "img-responsive" %>
    </div>

    <div class="col-md-6">
      <h3><%= @ticket.ticket %> by <%= @ticket.ticket %></h3>
      <p class="justify"><%= @ticket.description %></p>
      <h4 class="text-right">$<%= @ticket.price.to_f / 100 %></h4>
    </div>

  </div>
</div>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
